@using RockDMZ.Features
@using RockDMZ.Domain
@using RockDMZ.Features.ServiceAccount
@model RockDMZ.Features.ServiceAccount.Edit.Command
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Service Account</h4>
        <hr />
        @Html.ValidationDiv()
        @Html.Input(model => model.Id)
        <div class="form-group">
            <label asp-for="ServiceName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ServiceName" asp-items="Html.GetEnumSelectList<ServiceName>()" class="form-control"></select>
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CredentialType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CredentialType" asp-items="Html.GetEnumSelectList<CredentialType>()" class="form-control"></select>
                <span asp-validation-for="CredentialType" class="text-danger"></span>
            </div>
        </div>
        @Html.FormBlock(m => m.Email)
        @Html.FormBlock(m => m.Password)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>