@model RockDMZ.Features.ApiDatatable.Index.Result
@{
    ViewBag.Title = "API Datatables";
}
@section JavaScript
    {
    <script language="javascript">
        $(function () {

            var $table = $('table').tablesorter({
                theme: '',
                widgets: ["zebra", "filter"],
                widgetOptions: {
                    // filter_anyMatch replaced! Instead use the filter_external option
                    // Set to use a jQuery selector (or jQuery object) pointing to the
                    // external filter (column specific or any match)
                    filter_external: '.search',
                    // add a default type search to the first name column
                    filter_defaultFilter: { 1: '~{query}' },
                    // include column filters
                    filter_columnFilters: true,
                    filter_placeholder: { search: 'Search...' },
                    filter_saveFilters: true,
                    filter_reset: '.reset'
                }
            });

            // make demo search buttons work
            $('button[data-column]').on('click', function () {
                var $this = $(this),
                    totalColumns = $table[0].config.columns,
                    col = $this.data('column'), // zero-based index or "all"
                    filter = [];

                // text to add to filter
                filter[col === 'all' ? totalColumns : col] = $this.text();
                $table.trigger('search', [filter]);
                return false;
            });

        });
    </script>
}
<h2>API Datatables</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table tablesorter table-hover table-condensed table-sm">
    <thead class="thead-dark">
        <tr>
            <th class="filter-false" style="width:30px">
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                URL
            </th>
            <th>
                Last Download
            </th>
            <th class="filter-false"></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model.ApiDatatables)
        {
            <tr>
                <td>
                    @Html.Display(modelItem => modelItem.ApiDatatables[i].Id)
                </td>
                <td>
                    @Html.Display(modelItem => modelItem.ApiDatatables[i].Name)
                </td>
                <td>
                    @Html.Display(modelItem => modelItem.ApiDatatables[i].Url)
                </td>
                <td>
                    @Html.Display(modelItem => modelItem.ApiDatatables[i].LastDateDownloaded)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>