@model RockDMZ.Features.PriceExtension.Index.Result
@{
    ViewBag.Title = "Price Extension Projects";
}
<h2>Price Extension Projects</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table tablesorter table-hover table-condensed table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                Project name
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model.PriceExtensions)
    {
        <tr>
            <td>
                @Html.Display(modelItem => modelItem.PriceExtensions[i].Id)
            </td>
            <td>
                @Html.Display(modelItem => modelItem.PriceExtensions[i].Name)
            </td>
            <td>
                @Html.Display(modelItem => modelItem.PriceExtensions[i].PriceExtensionFeedDestinationLocation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    i++;
}
    </tbody>
</table>